<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PreferencesActivity"
            android:label="Preferences">


        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="Menu"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ItemListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.onlineshop.ItemListActivity" />
        </activity>
    </application>

</manifest>